body {
  font-family: "Roboto", sans-serif;
}

/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Arial Regular";
  font-display: swap;
  src: local("Arial Regular"), url("fonts/Arial/arial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Verdana
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Verdana Regular";
  font-display: swap;
  src: local("Verdana Regular"), url("fonts/Fonts/Verdana.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Verdana Bold";
  font-display: swap;
  src: local("Verdana Bold"), url("fonts/Fonts/Verdana-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Roboto
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Roboto Regular";
  font-display: swap;
  src: local("Roboto Regular"), url("fonts/Fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Black";
  font-display: swap;
  src: local("Roboto Black"), url("fonts/Fonts/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold Italic";
  font-display: swap;
  src: local("Roboto Bold Italic"), url("fonts/Fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  font-display: swap;
  src: local("Roboto Bold"), url("fonts/Fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Medium";
  font-display: swap;
  src: local("Roboto Medium"), url("fonts/Fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Light Italic";
  font-display: swap;
  src: local("Roboto Light Italic"), url("fonts/Fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.uk-height-min-small {
  min-height: 150px;
}
.uk-height-min-medium {
  min-height: 300px;
}
.uk-height-min-large {
  min-height: 450px;
}

@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px !important;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px !important;
  }
  .uk-grid-5-l > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px !important;
  }
  .uk-grid-5-m > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px !important;
  }
  .uk-grid-5-s > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px !important;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px !important;
  }
  .uk-grid-10-l > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px !important;
  }
  .uk-grid-10-m > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px !important;
  }
  .uk-grid-10-s > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-13-xl {
    margin-left: -13px !important;
  }
  .uk-grid-13-xl > * {
    padding-left: 13px !important;
  }
  .uk-grid-13-xl > .uk-grid-margin {
    margin-top: 13px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-13-l {
    margin-left: -13px !important;
  }
  .uk-grid-13-l > * {
    padding-left: 13px !important;
  }
  .uk-grid-13-l > .uk-grid-margin {
    margin-top: 13px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-13-m {
    margin-left: -13px !important;
  }
  .uk-grid-13-m > * {
    padding-left: 13px !important;
  }
  .uk-grid-13-m > .uk-grid-margin {
    margin-top: 13px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-13-s {
    margin-left: -13px !important;
  }
  .uk-grid-13-s > * {
    padding-left: 13px !important;
  }
  .uk-grid-13-s > .uk-grid-margin {
    margin-top: 13px !important;
  }
}

.uk-grid-13 {
  margin-left: -13px;
}
.uk-grid-13 > * {
  padding-left: 13px;
}
.uk-grid-13 > .uk-grid-margin {
  margin-top: 13px;
}

@media (min-width: 1600px) {
  .uk-grid-20-xl {
    margin-left: -20px !important;
  }
  .uk-grid-20-xl > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-xl > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-20-l {
    margin-left: -20px !important;
  }
  .uk-grid-20-l > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-l > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-20-m {
    margin-left: -20px !important;
  }
  .uk-grid-20-m > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-m > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-20-s {
    margin-left: -20px !important;
  }
  .uk-grid-20-s > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-s > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

.uk-grid-20 {
  margin-left: -20px;
}
.uk-grid-20 > * {
  padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px !important;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px !important;
  }
  .uk-grid-30-l > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px !important;
  }
  .uk-grid-30-m > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px !important;
  }
  .uk-grid-30-s > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .uk-grid-40-xl {
    margin-left: -40px !important;
  }
  .uk-grid-40-xl > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-xl > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-40-l {
    margin-left: -40px !important;
  }
  .uk-grid-40-l > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-l > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-40-m {
    margin-left: -40px !important;
  }
  .uk-grid-40-m > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-m > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-40-s {
    margin-left: -40px !important;
  }
  .uk-grid-40-s > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-s > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

.uk-grid-40 {
  margin-left: -40px;
}
.uk-grid-40 > * {
  padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .uk-grid-50-xl {
    margin-left: -50px !important;
  }
  .uk-grid-50-xl > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-xl > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-50-l {
    margin-left: -50px !important;
  }
  .uk-grid-50-l > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-l > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-50-m {
    margin-left: -50px !important;
  }
  .uk-grid-50-m > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-m > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-50-s {
    margin-left: -50px !important;
  }
  .uk-grid-50-s > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-s > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

.uk-grid-50 {
  margin-left: -50px;
}
.uk-grid-50 > * {
  padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
  margin-top: 50px;
}

@media (min-width: 1600px) {
  .uk-grid-93-xl {
    margin-left: -93px !important;
  }
  .uk-grid-93-xl > * {
    padding-left: 93px !important;
  }
  .uk-grid-93-xl > .uk-grid-margin {
    margin-top: 93px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-93-l {
    margin-left: -93px !important;
  }
  .uk-grid-93-l > * {
    padding-left: 93px !important;
  }
  .uk-grid-93-l > .uk-grid-margin {
    margin-top: 93px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-93-m {
    margin-left: -93px !important;
  }
  .uk-grid-93-m > * {
    padding-left: 93px !important;
  }
  .uk-grid-93-m > .uk-grid-margin {
    margin-top: 93px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-93-s {
    margin-left: -93px !important;
  }
  .uk-grid-93-s > * {
    padding-left: 93px !important;
  }
  .uk-grid-93-s > .uk-grid-margin {
    margin-top: 93px !important;
  }
}

.uk-grid-93 {
  margin-left: -93px;
}
.uk-grid-93 > * {
  padding-left: 93px;
}
.uk-grid-93 > .uk-grid-margin {
  margin-top: 93px;
}

@media (min-width: 1600px) {
  .mb-0-xl {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mb-0-l {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 960px) {
  .mb-0-m {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 640px) {
  .mb-0-s {
    margin-bottom: 0px !important;
  }
}

.mb-0 {
  margin-bottom: 0px;
}

@media (min-width: 1600px) {
  .mb-10-xl {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mb-10-l {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 960px) {
  .mb-10-m {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 640px) {
  .mb-10-s {
    margin-bottom: 10px !important;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

@media (min-width: 1600px) {
  .mb-20-xl {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mb-20-l {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 960px) {
  .mb-20-m {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 640px) {
  .mb-20-s {
    margin-bottom: 20px !important;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

@media (min-width: 1600px) {
  .mb-30-xl {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mb-30-l {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 960px) {
  .mb-30-m {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 640px) {
  .mb-30-s {
    margin-bottom: 30px !important;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

@media (min-width: 1600px) {
  .mb-40-xl {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mb-40-l {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 960px) {
  .mb-40-m {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 640px) {
  .mb-40-s {
    margin-bottom: 40px !important;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

@media (min-width: 1600px) {
  .mb-50-xl {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mb-50-l {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 960px) {
  .mb-50-m {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 640px) {
  .mb-50-s {
    margin-bottom: 50px !important;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

@media (min-width: 1600px) {
  .mt-0-xl {
    margin-top: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mt-0-l {
    margin-top: 0px !important;
  }
}

@media (min-width: 960px) {
  .mt-0-m {
    margin-top: 0px !important;
  }
}

@media (min-width: 640px) {
  .mt-0-s {
    margin-top: 0px !important;
  }
}

.mt-0 {
  margin-top: 0px;
}

@media (min-width: 1600px) {
  .mt-10-xl {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mt-10-l {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .mt-10-m {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .mt-10-s {
    margin-top: 10px !important;
  }
}

.mt-10 {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .mt-20-xl {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mt-20-l {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .mt-20-m {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .mt-20-s {
    margin-top: 20px !important;
  }
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .mt-30-xl {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mt-30-l {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .mt-30-m {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .mt-30-s {
    margin-top: 30px !important;
  }
}

.mt-30 {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .mt-40-xl {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mt-40-l {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .mt-40-m {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .mt-40-s {
    margin-top: 40px !important;
  }
}

.mt-40 {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .mt-50-xl {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mt-50-l {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .mt-50-m {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .mt-50-s {
    margin-top: 50px !important;
  }
}

.mt-50 {
  margin-top: 50px;
}

.fz-14 {
  font-size: 12.25px !important;
}
@media screen and (min-width: 640px) {
  .fz-14 {
    font-size: calc(12.25px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-14 {
    font-size: 12.25px !important;
  }
}

.fz-15 {
  font-size: 13.125px !important;
}
@media screen and (min-width: 640px) {
  .fz-15 {
    font-size: calc(13.125px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-15 {
    font-size: 13.125px !important;
  }
}

.fz-16 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .fz-16 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-16 {
    font-size: 14px !important;
  }
}

.fz-20 {
  font-size: 15.75px !important;
}
@media screen and (min-width: 640px) {
  .fz-20 {
    font-size: calc(15.75px + 1.75 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-20 {
    font-size: 17.5px !important;
  }
}

.fz-30 {
  font-size: 21px !important;
}
@media screen and (min-width: 640px) {
  .fz-30 {
    font-size: calc(21px + 5.25 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-30 {
    font-size: 26.25px !important;
  }
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item__59:nth-child(n+2) {
  margin-top: 59px;
}
.item__30:nth-child(n+2) {
  margin-top: 30px;
}
.item__25:nth-child(n+2) {
  margin-top: 25px;
}
.item__21:nth-child(n+2) {
  margin-top: 21px;
}
.item__16:nth-child(n+2) {
  margin-top: 16px;
}
.item__15:nth-child(n+2) {
  margin-top: 15px;
}
.item__14:nth-child(n+2) {
  margin-top: 14px;
}
.item__13:nth-child(n+2) {
  margin-top: 13px;
}
.item__12:nth-child(n+2) {
  margin-top: 12px;
}
.item__11:nth-child(n+2) {
  margin-top: 11px;
}
.item__10:nth-child(n+2) {
  margin-top: 10px;
}
.item__8:nth-child(n+2) {
  margin-top: 8px;
}
.item__6:nth-child(n+2) {
  margin-top: 6px;
}
.item__5:nth-child(n+2) {
  margin-top: 5px;
}

.header {
  border-bottom: 2.4px solid #FFC107;
}
.header .uk-logo img {
  height: 50px;
}
.header .uk-navbar-item {
  min-height: 60px;
}
.header__txt {
  font-family: "Roboto", sans-serif;
  color: #333333;
}

@media (min-width: 1200px) {
  .login__section {
    padding-top: 162px;
  }
}
.login__section .uk-container-small {
  max-width: 800px;
}
.login__width {
  max-width: 350px;
}
.login__card {
  border: 1px solid #F0F0F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.login__card__title {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #333333;
  line-height: 1.1666666667;
}
.login__card__title {
  font-size: 25.5px !important;
}
@media screen and (min-width: 640px) {
  .login__card__title {
    font-size: calc(25.5px + 4.5 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .login__card__title {
    font-size: 30px !important;
  }
}
.login__card__icon {
  background-repeat: no-repeat;
  background-position: center;
}
.login__card__icon svg {
  visibility: hidden;
}
.login__card__icon--user {
  background-image: url("images/image8.png");
}
.login__card__icon--pass {
  background-image: url("images/image9.png");
}
.login__card__input {
  font-size: 14px;
}
.login__card__input::placeholder {
  color: #666;
}
.login__card__btnSubmit {
  background: linear-gradient(180deg, #FFC30F 0%, rgba(255, 203, 51, 0.65) 96.87%, rgba(255, 219, 113, 0.52) 100%);
  border: 1px solid #F3B600 !important;
  text-transform: inherit;
}
.login__card__btnSubmit--taochuky {
  font-weight: 700;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(224, 224, 224, 0.17) 100%), #FFC107;
  /* ffc107 */
  border: 1px solid #FFC107;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.login__card__txt {
  color: #666;
  font-size: 14px;
  line-height: 1.1428571429;
}

.danhsach__section1 {
  background: #2B5D88;
  padding-top: 15px;
  padding-bottom: 15px;
}
.danhsach__btnBack {
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F0F0 100%);
  /* DADCE0 */
  border: 1px solid #DADCE0;
  border-radius: 5px;
  text-transform: inherit;
  color: #333333;
  font-family: "Roboto", sans-serif;
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
}
.danhsach__btnBack:before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.71863 7.16006L16.3593 0.352872C16.8182 -0.117624 17.5604 -0.117624 18.0145 0.352872L19.118 1.48407C19.577 1.95456 19.577 2.71537 19.118 3.18086L14.4159 8.01095L19.1229 12.836C19.5819 13.3065 19.5819 14.0673 19.1229 14.5328L18.0194 15.669C17.5604 16.1395 16.8182 16.1395 16.3641 15.669L9.72351 8.86185C9.25965 8.39136 9.25965 7.63055 9.71863 7.16006ZM0.34363 8.86185L6.98426 15.669C7.44324 16.1395 8.18543 16.1395 8.63953 15.669L9.74304 14.5378C10.202 14.0673 10.202 13.3065 9.74304 12.8411L5.0409 8.01095L9.74793 3.18586C10.2069 2.71537 10.2069 1.95456 9.74793 1.48907L8.64441 0.352872C8.18543 -0.117624 7.44324 -0.117624 6.98914 0.352872L0.348513 7.16006C-0.115354 7.63055 -0.115354 8.39136 0.34363 8.86185Z' fill='%23333333'/%3E%3C/svg%3E%0A");
  width: 19px;
  height: 16px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 6px;
}
.danhsach__section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 250px;
  background: linear-gradient(180deg, #DFF9F7 0%, rgba(223, 249, 247, 0) 100%);
}
.danhsach__txt {
  color: #3C8DBC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 23px;
}
.danhsach__txt1 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #333333;
}
.danhsach__txt2 {
  color: #333333;
  line-height: 1.1666666667;
  font-family: "Roboto", sans-serif;
}
.danhsach__txt2 {
  font-size: 20.4px !important;
}
@media screen and (min-width: 640px) {
  .danhsach__txt2 {
    font-size: calc(20.4px + 3.6 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .danhsach__txt2 {
    font-size: 24px !important;
  }
}
.danhsach__card {
  border: 1px solid #CCCCCC;
}
.danhsach__nav {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}
.danhsach__nav .uk-nav > li > a {
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.danhsach__nav .uk-nav > li.uk-active > a {
  background: #1375BA;
  color: #FFFFFF;
}
.danhsach__nav .uk-nav > li:nth-child(n+2) > a {
  border-top: 1px solid #CCCCCC;
}
.danhsach__nav .uk-nav > li:first-child > a {
  border-radius: 4px 4px 0px 0px;
}
.danhsach__nav .uk-nav > li:last-child > a {
  border-radius: 0px 0px 4px 4px;
}

.taochuky__link {
  text-decoration-line: underline;
  color: #0C8DFD;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.taochuky__txt {
  color: #333333;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
.taochuky__txt1 {
  color: #333333;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.taochuky__btn {
  text-transform: inherit;
  padding: 0 10px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F0F0 100%);
  /* DADCE0 */
  border: 1px solid #DADCE0;
  color: #333333;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 960px) {
  .taochuky__btn {
    min-width: 200px;
  }
}
.taochuky__modal__dialog {
  width: 450px;
  background: transparent;
}
.taochuky__modal__header {
  background: #3C8DBC;
  border-radius: 4px 4px 0px 0px;
}
.taochuky__modal__body {
  padding: 15px;
}
.taochuky__modal__title {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.taochuky__modal__title {
  font-size: 17px !important;
}
@media screen and (min-width: 640px) {
  .taochuky__modal__title {
    font-size: calc(17px + 3 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .taochuky__modal__title {
    font-size: 20px !important;
  }
}
.taochuky__modal__close {
  color: #FFFFFF;
}
.taochuky__modal__box1 {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
}
.taochuky__modal__txt1 {
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 1.1428571429;
}
.taochuky__modal__txtdanger {
  color: #FF0000;
  line-height: 1.5714285714;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: italic;
}
.taochuky__modal__btnVelai {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(224, 224, 224, 0.17) 100%), #F0F0F0;
  border: 1px solid #CCCCCC;
  text-transform: inherit;
  color: #333333;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  display: inline-flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 16px;
}
.taochuky__modal__btnVelai:before {
  content: "";
  width: 19px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='17' viewBox='0 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.06914 4.96102C4.69644 5.04994 4.35515 5.21445 4.07502 5.44022C3.79489 5.66598 3.58441 5.94614 3.46193 6.25629L0 15.0228L0.545137 15.4829L6.11562 10.7808C6.00467 10.5847 5.9375 10.368 5.9375 10.1362C5.9375 9.30574 6.73498 8.63258 7.71875 8.63258C8.70252 8.63258 9.5 9.30574 9.5 10.1362C9.5 10.9666 8.70252 11.6397 7.71875 11.6397C7.44414 11.6397 7.18734 11.583 6.95504 11.4894L1.38455 16.1915L1.92969 16.6517L12.3151 13.7294C12.6825 13.626 13.0144 13.4483 13.2819 13.2119C13.5494 12.9754 13.7442 12.6873 13.8496 12.3727L15.4375 7.63019L10.6875 3.62064L5.06914 4.96102ZM18.4782 2.93683L16.2476 1.05391C15.5518 0.466569 14.4233 0.466569 13.7275 1.05391L11.629 2.82531L16.3797 6.83548L18.4782 5.06408C19.174 4.47674 19.174 3.52448 18.4782 2.93683Z' fill='%23333333'/%3E%3C/svg%3E%0A");
  margin-right: 2px;
}
.taochuky__modal__boxUpload {
  padding: 10px;
}
.taochuky__modal__boxUpload__txt1 {
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.57;
}
.taochuky__modal__boxUpload__txt2 {
  color: #0C8DFD;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.57;
}

/*# sourceMappingURL=style.css.map */
